<nav>
  <div class="logo">Myname</div>
  <div class="menu">
    <a href="home">Home</a>
    <a href="profile">profile</a>
    <a href="#">Logout</a>
  </div>
</nav>

<div class="containerhome">
    <h5>Your Profile</h5>
    <h5>Name : {{name}}</h5>
    <h5>Email : UserEmail</h5>
 </div>